*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.specstory
# SpecStory explanation file
.specstory/.what-is-this.md
.vscode/
.cursorindexingignore/
